body {
    background-color: rgb(237, 242, 248);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }


.container >* {
    border-radius: 10px;
    width: 70%;
    margin: 0 auto 0 auto;
}

.item {
    padding: 15px;
}

.daniel {
    background-color: rgb(115, 63, 200);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.background-svg {
    position: absolute;
    top: 0;
    right: -70px;
    pointer-events: none;
    padding-right: 85px;
  }

.jonathan {
    background-color: rgb(73, 85, 107);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.kira {
    background-color: white;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);

}

.jeanette {
    background-color: white;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.patrick {
    background-color: rgb(24, 32, 45);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.title-white {
    color: white;
    font-size: 13px;
    position: relative;
    z-index: 1;
}

.title-black {
    font-size: 13px;
    position: relative;
    z-index: 1;
}

.title-gray {
    color: rgb(186, 187, 191);
    font-size: 11.5px;
    position: relative;
    z-index: 1;
}

.subheading-white {
    color: white;
    position: relative;
    z-index: 1;
}

.subheading-black {
    color: rgb(74, 82, 95);
    position: relative;
    z-index: 1;
}

.gray {
    color: rgb(155, 160, 164);
    font-size: 13px;
    position: relative;
    z-index: 1;
}

.daniel-img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    border: 2px solid rgb(160, 122, 209);
}

.jonathan-img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.kira-img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.jeanette-img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.patrick-img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    border: 2px solid rgb(100, 74, 147);
}
